:root{
    --color-fondo: #6cb4ce; /*Valor Original #e5e5e5*/
    --color-seccion-01: #fff; /*Valor Original #F5F5F5*/
    --color-seccion-02: #fff; /*Valor Original #EAF2FD*/
    --color-texto: #464646; /*Valor Original #464646*/
    --color-blanco: #bcd4de; /*Valor Original #ffffff*/
    --color-negro: #000000; /*Valor Original #000000*/
    --color-hover-link: #13226e; /*Valor Original #13226e*/
    --color-boton-subir: #252525; /*Valor Original #252525*/
    --color-linea-footer: #4d4b4b; /*Valor Original #4d4b4b*/
}

.cabecera{
    display: flex;
    justify-content: space-between;
    background-color: var(--color-seccion-01);
    padding: 0 3.25rem;
}

.nombre__empresa{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.nombre{
    color: var(--color-texto);
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0 0 0 6px;
}

/*.logo{
    width: 30px;
    height: 30px;
} */

/* .menu__navegacion{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    margin-left: auto;
    margin-right: auto;
} */

.menu__lista{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.menu__item{
    list-style: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.menu__item:nth-child(7){
    font-weight: 700;
}

.menu__link{
    color: var(--color-texto);
    text-decoration: none;
}

.menu__link:hover{
    color: var(--color-hover-link);
    text-decoration: underline;
}

/* Pantallas largas */
@media only screen and (max-width: 1024px) {
    .menu__item{
        font-size: .8rem;
    }
}

/* Laptops y Tablets*/
@media only screen and (max-width: 768px) {

}


/* Celulares */
@media only screen and (max-width: 600px) {

}