.footer{
    display: flex;
    justify-content: space-between;
    background: var(--color-blanco);
    padding: 4rem 9.5rem;
    color: var(--color-texto);

    padding: 2rem 6rem 2rem 6rem;
}

.footer__border{
    border-top: 7px solid var(--color-linea-footer);
}

.footer__titulo{
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
}

/* footer menú */ 

.footer__menu--item{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: .375rem;
}

.footer__menu--item:nth-child(7){
    font-weight: 700;
}

.footer__menu--link{
        color: var(--color-texto);
        text-decoration: none;
}

.footer__menu--link:hover{
    color: #13226e;
    text-decoration: underline;
}

/* footer redes sociales*/

.redes__sociales--lista{
    display: flex;
}

.redes__sociales--item{
    list-style: none;
    padding-right: .7rem;
}

.redes__sociales--imagen{
    width: 30px;
}

/* footer Avisos */

.footer__avisos--item{
    list-style: none;
    font-size: 1rem;
    font-weight: 400;
    padding-bottom: .375rem;
}

/* créditos */

.creditos{
    
    color: var(--color-texto);
    text-align: center;
    font-size: .7rem;
    font-weight: 700;
}

/* Responsive */
@media only screen and (max-width: 992px){
    .footer{
        flex-wrap: wrap;
        padding: 2rem 2rem;
    }

    .menu__footer{
        display: none;
    }

    .redes__sociales,
    .footer__avisos,
    .atribuciones{
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 1330px){

}