.formulario{
    background: #EAF2FD;
    padding: 3rem 3.25rem;
    position: relative;
    /*width: 80%;*/
    height: 600px;
    display: grid;
    place-items: center;
}

.contactForm{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 40px;
    width: 90%;
    height: 90%;
    background: #abbed8;
    /* box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59); */
    border-radius: 5px;
}

.contactForm .form{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 85%;
    margin-left: 30px;
}

.contactForm .form form{
    width: 100%;
}

/* Titulo - Descripción*/
.contactForm .form .texto h2{
    color: #464646;
    font-size: 2rem;
    margin-bottom: 10px;
}

.contactForm .form .texto p{
    color: #464646;
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Caja de Texto */
.contactForm .form form .inputBox{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

/* input y etiquetas */ 
.contactForm .form form .inputBox label{
    color: #464646;
    font-weight: 700;
}

.contactForm .form form .inputBox input[type="text"],
.contactForm .form form .inputBox input[type="email"],
.contactForm .form form .inputBox textarea{
    border: none;
    background: #cbebfb;
    padding: 10px;
    border-radius: 5px;
    color: #1766a3;
    resize: none;
}

.contactForm .form form .inputBox input[type="text"]:focus,
.contactForm .form form .inputBox input[type="email"]:focus,
.contactForm .form form .inputBox textarea:focus{
    outline: 2px solid#1766a3;
}

.contactForm .form form input[type="submit"]{
    background: #1766a3;
    display: inline-block;
    text-align: center;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    color: #ffffff;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    /* box-shadow: 1px 9px 20px -5px rgba(0, 0, 0, 0.59); */
    transition: 0.3s;
}

.contactForm .form form input[type="submit"]:hover{
    background: #0b426c;
}

/* Contenedor info */

.contactForm .info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Imagen */
.contactForm .info .imgBox{
    position: relative;
    width: 250px;
    height: 250px;
}

.contactForm .info .imgBox img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Info de contacto */
.contactForm .info .textBox{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contactForm .info .textBox .infoContact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.contactForm .info .textBox .infoContact ion-icon{
    font-size: 2rem;
    margin-right: 10px;
    color: #0b426c;
}

.contactForm .info .textBox .infoContact p{
    color: #0b426c;
}

/* Redes Sociales */
.contactForm .info .rrss a{
    padding: 20px;
    font-size: 2rem;
    color: #1766a3;
    transition: 0.3s;
}

.contactForm .info .rrss a:hover{
    color: #0b426c;
}

/* Breakpoints */

/* Pantallas largas */
@media only screen and (max-width: 1200px) {
    .contactForm{
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}

/* Laptops y Tablets*/
@media only screen and (max-width: 768px) {
    .contactForm .info{
        height: 300px;
        padding: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .contactForm .info .imgBox{
        display: none;
    }
}

/* Celulares */
@media only screen and (max-width: 600px) {
    .contactForm .form{
        margin-left: 0px;
        width: 100%;
    }

    .contactForm .info{
        margin-bottom: 30px;
    }
}