.mediador{
    background: var(--color-seccion-02);
    padding: 1rem 0rem 4rem 3.25rem;
}

.mediador__titulo{
    font-size: 2rem;
    color: var(--color-texto);
    font-weight: 700;
}

.mediador__descripcion{
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-texto);
    text-align: justify;
}

/* Responsive */
@media only screen and (max-width: 992px){

    .mediador{
        padding: 0;
    }

    .mediador__titulo{
        font-size: 1.3rem;
        padding-bottom: 0.5rem;
    }

    .mediador__descripcion{
        font-size: 0.7;
    }

    .contenido__imagen{
        display: none;
    }

}

@media only screen and (max-width: 576px){

}