.nosotros{
    background: #EAF2FD;
    padding: 2rem 3.25rem;
}

.nosotros__titulo{
    color: #464646;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: .5rem;
}

.nosotros__descripcion--01{
    font-size: 1rem;
    font-weight: 400;
    color: #464646;
    text-align: justify;
    padding-bottom: 3rem;
}

.nosotros__descripcion--02{
    font-size: 1rem;
    font-weight: 400;
    color: #464646;
    text-align: justify;
    margin: 0rem 0rem 0rem 0rem;
}

/* Responsive */
@media only screen and (max-width: 992px){
    .nosotros{
        padding: 2rem 0.5rem;
    }

    .nosotros__descripcion--01{
        padding-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 576px){

}