body {
    font-family: 'Raleway', sans-serif;
    background: #E5E5E5;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, li {
    padding: 0;
}

.contenedor{
    width: 95%;
    margin: 0 auto;
}