.conflictos__caja{
    background: #ffffff;
    width: 90%;
    height: 174px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
}

.hover__gray {
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hover__gray:hover {
    -webkit-filter: grayscale(0);
	filter: grayscale(0);
}